<div class="col-xs-12 col-sm-6 example-col">
  <kendo-floatinglabel text="اسم المتطوع">
    <kendo-textbox
      [style.width.px]="200"
      [clearButton]="true"
      [(ngModel)]="volunteerName"
    ></kendo-textbox>
  </kendo-floatinglabel>
</div>

<div class="col-xs-12 col-sm-6 example-col">
  <kendo-floatinglabel text="رقم الهاتف">
    <kendo-textbox
      [style.width.px]="200"
      [clearButton]="true"
      [(ngModel)]="volunteerPhoneNumber"
    ></kendo-textbox>
  </kendo-floatinglabel>
</div>

<div class="container-fluid example-wrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-4 example-col">
      <p>المنطقة</p>
      <kendo-dropdownlist
        [data]="volunteerRegions"
        [defaultItem]="defaultVolunteerRegion"
        [value]="volunteerSelectedRegion"
        textField="nameAr"
        valueField="id"
        (valueChange)="handleVolunteerRegionChange($event)"
      ></kendo-dropdownlist>
    </div>
    <div class="col-xs-12 col-sm-4 example-col">
      <p>المدينة</p>
      <kendo-dropdownlist
        [data]="volunteerCities"
        [disabled]="isDisabledVolunteerCity"
        [defaultItem]="defaultVolunteerCity"
        [value]="volunteerSelectedCity"
        textField="nameAr"
        valueField="id"
        (valueChange)="handleVolunteerCityChange($event)"
      ></kendo-dropdownlist>
    </div>
    <div class="col-xs-12 col-sm-4 example-col">
      <p>الحي</p>
      <kendo-dropdownlist
        [data]="volunteerDistricts"
        [defaultItem]="defaultVolunteerDistrict"
        [disabled]="isDisabledVolunteerDistrict"
        [value]="volunteerSelectedDistrict"
        textField="nameAr"
        valueField="id"
        (valueChange)="handleVolunteerDistrictChange($event)"
      ></kendo-dropdownlist>
    </div>
  </div>
</div>

<div class="container-fluid example-wrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-4 example-col">
      <p>المنطقة</p>
      <kendo-dropdownlist
        [data]="cemeteryRegions"
        [defaultItem]="defaultCemeteryRegion"
        [value]="cemeterySelectedRegion"
        textField="nameAr"
        valueField="id"
        (valueChange)="handleCemeteryRegionChange($event)"
      ></kendo-dropdownlist>
    </div>
    <div class="col-xs-12 col-sm-4 example-col">
      <p>المدينة</p>
      <kendo-dropdownlist
        [data]="cemeteryCities"
        [disabled]="isDisabledCemeteryCity"
        [defaultItem]="defaultCemeteryCity"
        [value]="cemeterySelectedCity"
        textField="nameAr"
        valueField="id"
        (valueChange)="handleCemeteryCityChange($event)"
      ></kendo-dropdownlist>
    </div>
    <div class="col-xs-12 col-sm-4 example-col">
      <p>المقبرة</p>
      <kendo-dropdownlist
        [data]="cemeteriesData"
        [defaultItem]="defaultCemeteryData"
        [disabled]="isDisabledCemeteryData"
        [value]="selectedCemeteryData"
        textField="nameAr"
        valueField="id"
        (valueChange)="handleCemeteryChange($event)"
      ></kendo-dropdownlist>
    </div>
  </div>
</div>

<button kendoButton (click)="addCemeteryForVolunteer()">اضافة مقبرة</button>

<ng-container *ngIf="cemeteryObjects && cemeteryObjects.length > 0">
  <kendo-grid [data]="cemeteryObjects">
    <kendo-grid-column field="RegionName" title="المنطقة"></kendo-grid-column>
    <kendo-grid-column field="CityName" title="المدينة"></kendo-grid-column>
    <kendo-grid-column field="CemeteryName" title="المقبرة"></kendo-grid-column>
  </kendo-grid>
</ng-container>
